<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Cafe Nomad</h1>
            <hr>
            <p>Select your city and your preference!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Home</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">


            Hello world!

            
        </div>
    </div>
</section>


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Orange</h2>
                <hr class="light">
                <p class="text-faded">Mooie orange box</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>
